* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.lion {
    width: 100px;
    height: 100px;
    animation-name: move;
    animation-duration: 3s;
    animation-fill-mode:  forwards;
    animation-iteration-count: 3;
    animation-direction: alternate;
}

@keyframes move {
    100% {
        transform: translateX(700%);
    }
}
